<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Globetrotters Gallery! &#127759;</title>
  <script src="https://cdn.tailwindcss.com"></script>
  
  <link rel="stylesheet" type="css" href="public/css/jass.css">
  <link rel="stylesheet" type="css" href="public/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dela+Gothic+One&display=swap" rel="stylesheet">
</head>

<body class="bg-blue-900">
  <header class="page-header flex items-center bg-green-900 text-6xl w-full py-8 text-left">
    <h1 class="text-white flex-grow flex items-center m-2">Globetrotters Gallery 🌎</h1>
    <form class="mx-auto flex items-center" action="/api/search" method="GET">
      <input type="text" name="query" placeholder="Search..." value="" class="px-4 py-3 border rounded text-lg">
      <button type="submit" class="ml-2 px-6 py-3 bg-blue-900 text-white rounded text-lg">Search</button>
    </form>
    {{#if logged_in}}
    <a href="/profile" class="ml-2 text-lg text-white">Your Profile</a>
    <button class="no-button ml-2 text-lg text-white mr-2" id="logout">Logout</button>
    {{else}}
    <a href="/login" class="ml-2 text-lg text-white mr-2">Login</a>
    {{/if}}
  </header>

    <main class="">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only *NEEDS TO BE UPDATED ONCE HANDLEBARS ARE COMPLETED*-->
  {{#if logged_in}}
<script type="application/json" src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
