<div class="row">
  <div class="col-auto text-white">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<div class="row mt-4 text-white">
  <div class="col-md-6">
    <h3 class = "font-bold">Create a New itinerary:</h3>

    <form class="form new-itinerary-form">
      <div class="form-group">
        {{!-- This is the "trip" in the database --}}
        <label for="itinerary-name">Itinerary name:</label>
        <input class="form-input text-black" type="text" id="itinerary-name" name="itinerary-name" />
      </div>
      <div class="form-group">
        <label for="itinerary-funding">Location:</label>
        <input class="form-input text-black" type="text" id="itinerary-funding" name="itinerary-funding" />
      </div>
      <div class="form-group">
        <label for="itinerary-desc">Review:</label>
        <textarea class="form-input text-black" id="itinerary-desc" name="itinerary-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="itinerary-landmark-name">Landmark Name:</label>
        <textarea class="form-input text-black" id="itinerary-landmark-name" name="itinerary-landmark-name"></textarea>
      </div>
        <div class="form-group">
        <label for="itinerary-landmark-type">Landmark Type:</label>
        <textarea class="form-input text-black" id="itinerary-landmark-type" name="itinerary-landmark-type"></textarea>
      </div>
        <div class="form-group">
        <label for="itinerary-date">Date:</label>
        <textarea class="form-input text-black" id="itinerary-date" name="itinerary-date"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if landmarks.length}}
  <div class="col-md-6 itinerary-list">
    <h3>Current itinerararies:</h3>

    {{#each landmarks as |landmark|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/itinerary/{{landmark.id}}">{{landmark.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{landmark.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>