<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New itinerary:</h3>

    <form class="form new-itinerary-form">
      <div class="form-group">
        <label for="itinerary-name">Itinerary name:</label>
        <input class="form-input" type="text" id="itinerary-name" name="itinerary-name" />
      </div>
      <div class="form-group">
        <label for="itinerary-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="itinerary-funding" name="itinerary-funding" />
      </div>
      <div class="form-group">
        <label for="itinerary-desc">description:</label>
        <textarea class="form-input" id="itinerary-desc" name="itinerary-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if itinerararies.length}}
  <div class="col-md-6 itinerary-list">
    <h3>Current itinerararies:</h3>

    {{#each itinerararies as |itinerary|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/itinerary/{{landmark.id}}">{{landmark.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{landmark.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>